<!DOCTYPE html>
<html>

<head>
    <title>pagination</title>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="../base.css">
    <link rel="stylesheet" href="pagination.css">
</head>

<body>

    <ul class="pagination">
        <li class="btn pagination-prev">
            <a href="#"></a>
        </li>
        <li><a href="#">1</a></li>
        <li class="active"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li class="btn pagination-next">
            <a href="#"></a>
        </li>
    </ul>

</body>

</html>