.quick-review-header {
    font-size: 0;
}

.quick-review-header .pic {
    display: inline-block;
    vertical-align: middle;
    background: #FFFFFF;
    border: 1px solid #DCDEE0;
    border-radius: 2px;
    width: 88px;
    height: 66px;
    text-align: center;
}

.quick-review-header .pic img {
    max-height: 100%;
}

.quick-review-header .details {
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
}

.quick-review-header .details h2 {
    font-size: 20px;
    font-weight: 700;
}

.quick-review-header .details .starts {
    display: inline-block;
    vertical-align: middle;
    height: 16px;
}

.quick-review-header .details p {
    display: table;
}

.quick-review-header .fav-btn {
    float: left;
}