body {
    direction: rtl;
}

.header-top {
    display: flex;
    justify-content: space-between;
    background: #1B5EC9;
    padding: 0 20px;
}

.header-top {}

.header-top ul {
    font-size: 0;
}

.header-top ul li {
    display: inline-block;
}

.header-top ul li a {
    font-family: GESSTwoMedium-Medium;
    font-size: 12px;
    color: #D9E9FF;
    line-height: 36px;
    position: relative;
    display: block;
    padding: 0 16px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.header-top ul li a:hover,
.header-top ul li a.active {
    background-color: #1B55B3;
    z-index: 1;
}

.header-top ul li a:before {
    content: '';
    opacity: 0.3;
    position: absolute;
    right: 100%;
    top: 9px;
    bottom: 9px;
    border-left: 1px solid #fff;
    background-color: transparent;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.header-top ul li a:hover:before,
.header-top ul li a.active:before {
    opacity: 0;
}

.header-top ul li:last-child a:before {
    display: none;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    padding: 14px 20px;
    align-items: center;
}

.header-bottom .company-logo {}

.header-bottom .company-logo img {
    display: block;
}

.header-bottom .search-sec {
    font-size: 0;
}

.header-bottom .search-sec .select-sec {
    display: inline-block;
    margin-left: 9px;
}

.select-sec label {
    font-family: GESSTwoLight-Light;
    font-size: 11px;
    color: #798694;
    line-height: 2;
}

.select-sec select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: GESSTwoLight-Light;
    font-size: 13px;
    color: #000000;
    line-height: 26px;
    background: #FFFFFF;
    border: 1px solid #C1C9D2;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    line-height: 40px;
    padding: 0 17px;
    min-width: 144px;
    background-image: url(../img/icons/arrow-down.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    cursor: pointer;
    background-size: 10px;
}

.select-sec select[name="destination"] {
    width: 308px;
}

.select-btn {
    display: inline-block;
}

.select-btn .btn {
    font-size: 16px;
    line-height: 40px;
    background: #00A651;
    border-radius: 4px;
    font-family: GESSTwoMedium-Medium;
    font-size: 16px;
    color: #FFFFFF;
    width: 94px;
    background-image: url(../img/icons/search-icon.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 14px) center;
    padding-right: 20px;
    background-size: 18px auto;
}

.header-bottom .account {
    direction: ltr;
}

.header-bottom .account>img {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
}

.header-bottom .account .details {
    display: inline-block;
    vertical-align: middle;
}

.header-bottom .account .details h3 {
    font-family: HelveticaNeue-Medium;
    font-size: 13px;
    color: #000000;
    line-height: 16px;
    margin-bottom: 1px;
}

.header-bottom .account .details h4 {
    font-family: HelveticaNeue-Medium;
    font-size: 11px;
    color: #EA0E4D;
    line-height: 13px;
}

.header-bottom .account .details img {
    width: 10px;
}