<!DOCTYPE html>
<html>

<head>
    <title>room views</title>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="../base.css">
    <link rel="stylesheet" href="room-views.css">
    <link href="https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900|Open+Sans+Condensed:300,700" rel="stylesheet">
</head>

<body>

    <div class="room-views">
        <div class="select-sec">
            <select name="room-views-month">
                <option value="1">العرض ساري من ١ مايو ٢٠١٧  حتي 15 مايو ٢٠١٧</option>
                <option value="2">العرض ساري من ١ سبتمبر ٢٠١٧  حتي 15 سبتمبر ٢٠١٧</option>
            </select>
        </div>
        <ul>
            <li>
                <div class="room-type">
                    <img src="../img/icons/single-room.png" alt="single-room">
                    <div>
                        <h5>للغرفة فردية المميزة</h5>
                        <p>مطلة علي حمام السبحة</p>
                    </div>
                </div>
                <div class="price">
                    <span>جنيه</span>
                    <h3>3,456</h3>
                </div>
            </li>
            <li>
                <div class="room-type">
                    <img src="../img/icons/double-room.png" alt="double-room">
                    <div>
                        <h5>للغرفة المزدوجة العادية</h5>
                        <p>مطلة علي البحر</p>
                    </div>
                </div>
                <div class="price">
                    <span>جنيه</span>
                    <h3>3,456</h3>
                </div>
            </li>
            <li>
                <div class="room-type">
                    <img src="../img/icons/tripple-room.png" alt="tripple-room">
                    <div>
                        <h5>للغرفة الثلاثية الفاخرة</h5>
                        <p>مطلة علي الحدائق</p>
                    </div>
                </div>
                <div class="price">
                    <span>جنيه</span>
                    <h3>3,456</h3>
                </div>
            </li>
        </ul>
    </div>

</body>

</html>