<!DOCTYPE html>
<html>

<head>
    <title>program</title>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="../base.css">
    <link rel="stylesheet" href="program.css">
    <link href="https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900|Open+Sans+Condensed:300,700" rel="stylesheet">
</head>

<body>

    <div class="program-div">
        <h4>برامج الرحلة</h4>
        <ul>
            <li>
                <h3>أول يوم - وصول</h3>
                <p>يقع الفندق فى وسط مدينة بيروت على بعد 50 متر من شارع الحمرا الشهير ,الفندق رائع من حيث الموقع فهو قريب من اماكن التسوق.</p>
                <div class="extra">
                    <a href="#" target="_blank">المبيت في فندق ماريوت بيروت</a>
                </div>
            </li>
            <li>
                <h3>أول يوم - وصول</h3>
                <p>يقع الفندق فى وسط مدينة بيروت على بعد 50 متر من شارع الحمرا الشهير ,الفندق رائع من حيث الموقع فهو قريب من اماكن التسوق.</p>
                <div class="extra">
                    <p>المبيت في كامب</p>
                </div>
            </li>
            <li>
                <h3>أول يوم - وصول</h3>
                <p>يقع الفندق فى وسط مدينة بيروت على بعد 50 متر من شارع الحمرا الشهير ,الفندق رائع من حيث الموقع فهو قريب من اماكن التسوق.</p>
            </li>
        </ul>
    </div>

</body>

</html>