<!DOCTYPE html>
<html>

<head>
    <title>agency details</title>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="../base.css">
    <link rel="stylesheet" href="agency-details.css">
    <link href="https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900|Open+Sans+Condensed:300,700" rel="stylesheet">
</head>

<body>

    <div class="agency-details-div">
        <p>كافة أسعار وتفاصيل الرحلة السياحية مقدمة من خلال </p>
        <div class="agency-details">
            <div class="pic">
                <img src="../img/hotels/logo.png" alt="hotel logo">
            </div>
            <div class="details">
                <h4>توريكو هوليدايز للسياحة</h4>
                <p class="premium-agency">Premium Agency</p>
                <p class="address">٢٣ شارع المقديسي، الميرغني، مصر الجديدة، القاهرة</p>
                <p class="tel">012 898989323</p>
                <p class="mail">info@touricoholidays.com</p>
            </div>
        </div>
    </div>

</body>

</html>