.users-watch {}

.users-watch p {
    background-image: url(../img/icons/mood.png);
    background-size: 21px;
    background-repeat: no-repeat;
    padding-right: 25px;
    background-position: right -2px;
    line-height: 25px;
    font-size: 11px;
}

.users-watch span {
    padding-left: 3px;
    font-size: 12px;
}