<!DOCTYPE html>
<html>

<head>
    <title>travel-included</title>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="../base.css">
    <link rel="stylesheet" href="travel-included.css">
    <link href="https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900|Open+Sans+Condensed:300,700" rel="stylesheet">
</head>

<body>

    <ul class="travel-included">
        <li class="days">5 أيام</li>
        <li class="breakfast-dinner">شاملة الفطار والعشاء</li>
    </ul>

</body>

</html>