<!DOCTYPE html>
<html>

<head>
    <title>Book num</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="title-city.css">
    <link href="https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900|Open+Sans+Condensed:300,700" rel="stylesheet">
</head>

<body>

    <div class="title-city-div">
        <h2>فنادق ورحلات سياحية - شرم الشيخ</h2>
        <p>يوجد ٢٥٠ عرض فندقي و١٢٠ رحلة سياحية</p>
    </div>

</body>

</html>