<!DOCTYPE html>
<html>

<head>
    <title>list in package</title>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="../base.css">
    <link rel="stylesheet" href="list-in-package.css">
    <link href="https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900|Open+Sans+Condensed:300,700" rel="stylesheet">
</head>

<body>

    <div class="list-in-package-div">
        <h4>برامج الرحلة</h4>
        <ul>
            <li>يقع الفندق فى وسط مدينة بيروت على بعد 50 متر من شارع الحمرا الشهير</li>
            <li>الفندق رائع من حيث الموقع فهو قريب من اماكن التسوق</li>
            <li>مركز بيروت للفن و على بعد 10 دقائق من مطار رفيق الحريرى</li>
            <li>جمنازيوم مجهز تجهيزا جيدا، وساونا ومكتب الاستقبال يعمل على مدار 24 ساعة</li>
        </ul>
    </div>

</body>

</html>